USE [Codman_ProdCatalog]

GO

/****** Object:  View [dbo].[CATSYN_VIEW]    Script Date: 05/06/2008 12:56:19 ******/

SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

CREATE VIEW [dbo].[CATSYN_VIEW]

AS

SELECT     a.CATALOG_NO_ID, b.SYNONYM_TXT, b.VENDOR_NM, b.SYNONYM_DESC

FROM         dbo.CATALOG_NO_SYNONYM AS a INNER JOIN

                      dbo.CATNO_SYNONYM AS b ON a.SYNONYM_ID = b.SYNONYM_ID



