USE [Codman_ProdCatalog]

GO

/****** Object:  View [dbo].[HIERARCHY_VIEW]    Script Date: 05/06/2008 12:56:41 ******/

SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

CREATE VIEW [dbo].[HIERARCHY_VIEW]

AS

SELECT     dbo.ORGANIZATION.ORGANIZATION_NM, dbo.PROD_LINE.PROD_LINE_TXT, dbo.PROD_CATEGORY.PROD_CATEGORY_TXT, 

                      dbo.PROD_BRAND.PROD_BRAND_TXT, dbo.KEYWORD.KEYWORD_TXT, dbo.PROD_TYPE.PROD_TYPE_TXT, dbo.PROD_TYPE.PROD_TYPE_ID, 

                      dbo.KEYWORD.KEYWORD_TXT AS Expr1

FROM         dbo.ORGANIZATION INNER JOIN

                      dbo.PROD_LINE ON dbo.ORGANIZATION.ORGANIZATION_ID = dbo.PROD_LINE.ORGANIZATION_ID INNER JOIN

                      dbo.PROD_CATEGORY ON dbo.PROD_LINE.PROD_LINE_ID = dbo.PROD_CATEGORY.PROD_LINE_ID INNER JOIN

                      dbo.PROD_BRAND ON dbo.PROD_CATEGORY.PROD_CATEGORY_ID = dbo.PROD_BRAND.PROD_CATEGORY_ID INNER JOIN

                      dbo.PROD_TYPE ON dbo.PROD_BRAND.PROD_BRAND_ID = dbo.PROD_TYPE.PROD_BRAND_ID LEFT OUTER JOIN

                      dbo.KEYWORD_ASSOC ON dbo.PROD_BRAND.PROD_BRAND_ID = dbo.KEYWORD_ASSOC.PROD_BRAND_ID LEFT OUTER JOIN

                      dbo.KEYWORD ON dbo.KEYWORD.KEYWORD_ID = dbo.KEYWORD_ASSOC.KEYWORD_ID



GO